/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-typed-attributes-demo-typed-attributes-demo {
	// Default presets, overridden by block attributes.
	--dark-theme-bg-color: #333;
	--dark-theme-text-color: #fff;
	--light-theme-bg-color: #fff;
	--light-theme-text-color: #000;
	font-size: 1em;
	background: var(--light-theme-bg-color);
	padding: 1em;

	&.dark-theme {
		background: var(--dark-theme-bg-color);
		color: var(--dark-theme-text-color);

		button {
			background: var(--dark-theme-button-bg-color);
			color: var(--dark-theme-button-text-color);
			border: 1px solid #777;
		}

		p {
			color: var(--dark-theme-text-color);
		}
	}
}
